<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css"/>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/feed.xml" rel="alternate" type="application/atom+xml"/>
    <link href="https://inforesource.od.ua$url$" rel="canonical"/>
    <meta charset="utf-8"/>
    <meta name="author" content="Инфоресурс"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <header>
        <table style="width:100%;">
          <tr>
            <td><a href="/"><h1>Инфоресурс</h1></a></td>
            <td></td>
          </tr>
          <tr>
            <td>региональный партнёр компании <a href="http://www.ligazakon.ua" target="_blank"><span style="color:red">ЛІГА:ЗАКОН</span></a> в Одессе</td>
            <td style="text-align:right;padding-right:0;"><span>(050)</span>&nbsp;<span>513-24-33</span></td>
          </tr>
          <tr></tr>
        </table>    
    </header>
    <nav>
      <ul>
        <li><a href="/pages/systems.html">Системы ЛИГА:ЗАКОН</a></li>
        <li><a href="/files/Price_LZ.pdf" target="_blank">Цены</a></li>
     <!--   <li><a href="/">Blog</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="https://github.com/ruud-v-a"><span id="github">Code</span></a>
      -->
        <li id="contact"><a href="/pages/contacts.html" rel="author">Контакты</a></li>
      </ul>
    </nav>
